* {
 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

#font-holder {
    display: inline-block;
    max-height: 40px;
    overflow-y: scroll;
}

.font-family {
    background-color: white;
    padding: 5px;
}

.active {
    background-color: #BFBFBF;
}

#canvas{
	border: 1px solid black;
}

#controls{
	position:fixed;
	width:50%;
	text-align: center;
}
.wrapper{
	margin:auto;
	text-align:center;
}

.component{
	min-height: 50px;
	padding: 10px;
	margin:0 5% 0 10%;
}

#loadphotos{
	display:none;
}

#title{
	font-family:'NYTKarnakDisplay';
	font-size:40px;
}

.content{
	height:100vh;
	overflow:scroll;
}

.right {
	width:50%;
	float:right;
}

.left {
	width:50%;
	float:left;
}

.component img{
	width:100%;
	max-width: 350px;
	height:auto;
}

.element{
	background-color: #ffffaa;
	height:400px;
	width:400px;
	margin:auto;
}

#loadfonts{
	display:none;
}
@font-face {
	font-family: 'NYTCheltenhamBdCon';
	src: url('../assets/fonts/NYTCheltenhamBdCon')
}
@font-face {
	font-family: 'NYTCheltenhamBdXCon';
	src: url('../assets/fonts/NYTCheltenhamBdXCon')
}
@font-face {
	font-family: 'NYTCheltenhamBold';
	src: url('../assets/fonts/NYTCheltenhamBold')
}
@font-face {
	font-family: 'NYTCheltenhamBook';
	src: url('../assets/fonts/NYTCheltenhamBook')
}
@font-face {
	font-family: 'NYTCheltenhamExtBd';
	src: url('../assets/fonts/NYTCheltenhamExtBd')
}
@font-face {
	font-family: 'NYTCheltenhamExtLt';
	src: url('../assets/fonts/NYTCheltenhamExtLt')
}
@font-face {
	font-family: 'NYTCheltenhamLt';
	src: url('../assets/fonts/NYTCheltenhamLt')
}
@font-face {
	font-family: 'NYTCheltenhamLtCon';
	src: url('../assets/fonts/NYTCheltenhamLtCon')
}
@font-face {
	font-family: 'NYTCheltenhamLtSC';
	src: url('../assets/fonts/NYTCheltenhamLtSC')
}
@font-face {
	font-family: 'NYTCheltenhamMedCon';
	src: url('../assets/fonts/NYTCheltenhamMedCon')
}
@font-face {
	font-family: 'NYTCheltenhamMedium';
	src: url('../assets/fonts/NYTCheltenhamMedium')
}
@font-face {
	font-family: 'NYTCheltenhamWide';
	src: url('../assets/fonts/NYTCheltenhamWide')
}
@font-face {
	font-family: 'NYTFranklinBold';
	src: url('../assets/fonts/NYTFranklinBold')
}
@font-face {
	font-family: 'NYTFranklinExtraBd';
	src: url('../assets/fonts/NYTFranklinExtraBd')
}
@font-face {
	font-family: 'NYTFranklinHeadline';
	src: url('../assets/fonts/NYTFranklinHeadline')
}
@font-face {
	font-family: 'NYTFranklinLight';
	src: url('../assets/fonts/NYTFranklinLight')
}
@font-face {
	font-family: 'NYTFranklinMedium';
	src: url('../assets/fonts/NYTFranklinMedium')
}
@font-face {
	font-family: 'NYTFranklinSemiBold';
	src: url('../assets/fonts/NYTFranklinSemiBold')
}
@font-face {
	font-family: 'NYTImperial';
	src: url('../assets/fonts/NYTImperial')
}
@font-face {
	font-family: 'NYTImperialSemiBold';
	src: url('../assets/fonts/NYTImperialSemiBold')
}
@font-face {
	font-family: 'NYTKarnakDisplay';
	src: url('../assets/fonts/NYTKarnakDisplay')
}
@font-face {
	font-family: 'NYTKarnakText';
	src: url('../assets/fonts/NYTKarnakText')
}
@font-face {
	font-family: 'NYTStymieLight';
	src: url('../assets/fonts/NYTStymieLight')
}
@font-face {
	font-family: 'NYTStymieMedium';
	src: url('../assets/fonts/NYTStymieMedium')
}
