* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/******************************
		General CSS
*******************************/

.right {
    width: 45%;
    float: right;
    margin-bottom: 100px;
    margin: 0 4% 0 1%;
}

.left {
    width: 45%;
    float: left;
    margin: 0 1% 0 4%;
}

.navbar {
    margin-top: 15px;
    border-bottom: 2px solid rgb(191, 191, 191);
}

.navbar > *,
.karnak {
    font-family: 'NYTKarnakDisplay';
}

#title {
    font-size: 40px;
}

#search {
    width: 500px;
    margin-right: 0;
}

#search > input {
    padding-top: 17px;
}

#font-holder {
    display: inline-block;
    max-height: 100px;
    overflow-y: scroll;
}

#font-button {
    display: inline-block;
}

.font-family {
    background-color: white;
    padding: 5px;
}

.row-fluid {
    display: inline-flex;
}

/******************************
        Welcome Portal
*******************************/
/*outside*/
.openModal{
    position:absolute;
    right:20;
}
#modalPage {
    height:500px;
    width:400px;
    margin:auto;
    text-align:center;
    overflow:hidden;
}

#modalPage img{
    width: 100px;
    height: auto;
    padding-top:25px;
    padding-bottom:25px;
}

#modalPage h1{
    padding-bottom:15px;
    margin-left: 71px;
}
/*inside*/
#modalWrapper{
}

#modalWrapper, #modalWrapper form{
    text-align:center;
    width:400px;
}

#recents{
    margin-top:10px;
    height:150px;
    overflow-y: scroll;
    overflow-x: hidden;
    display:none;
}

.close_menu{
    position:absolute;
    left:3;
    top:3;
}
/******************************
       Editing Module
*******************************/
#module{
    margin-top:25px;
    border:2px red dotted;
    height:100px;
    width:100%;
}

/******************************
		Media Player
*******************************/

#modeWrapper {
    background-color: #E3E3E3;
    width: 600px;
    padding: 10px;
    position: relative;
}

#videoMode {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 35px;
    padding: 0 15px 0 15px;
}

#canvas,
#nyt-player {
    border: 1px solid black;
}

#canvas {
    margin-top: 15px;
}

#nyt-player {
    height:400px;
    width:600px;
    background-color: "black" !important;
}

#mediaWrapper {
    position: relative;
}


/******************************
		Timeline
*******************************/

#timeline, #backdrop {
    padding-top: 3px;
    padding-left:10px;
    /*border-top: 2px #7F7F7F solid;*/
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index:5;
    background-color:rgba(225,225,225,0.9) ;
}

.slideup,
.slidedown {
    height: 40px;
    -webkit-transition: height 0.2s ease-in-out;
    -moz-transition: height 0.2s ease-in-out;
    -o-transition: height 0.2s ease-in-out;
    transition: height 0.2s ease-in-out;
}

.slidedown {
    height: 180px;
}

.element {
    width: 120px;
    height: 120px;
    text-align: center;
    padding-top: 0px;
    cursor: pointer;
}

.element[data-drag="false"] {
    background: green;
}

.element img{
	width: 120px;
	height: auto;
    border-top-left-radius: 4px;
    z-index:7;
}

.element-cutoff{
    max-height:80px;
    overflow-y:hidden;
}

.remove{
    position:absolute;
    top:0;
    left:0;
    z-index:10;
}

.slideView {
	display: inline-block;
    height: 120px;
    width: 120px;
    margin:10px;
    line-height: 20px;
}

.slideWrapper{
	position:absolute;
	padding-top:10px;
    width: 100%;
    max-height: 100%;
    overflow-x:auto;
}

.no-overflow{
	overflow-y:hidden;
}

.durations{
    margin-top:-5px;
    text-align: center;
    z-index:5;
}


/******************************
		buggy fonts
*******************************/

@font-face {
    font-family: 'NYTCheltenhamBdXCon';
    src: url('../fonts/NYTCheltenhamBdXCon')
}

@font-face {
    font-family: 'NYTCheltenhamBold';
    src: url('../fonts/NYTCheltenhamBold')
}

@font-face {
    font-family: 'NYTCheltenhamBook';
    src: url('../fonts/NYTCheltenhamBook')
}

@font-face {
    font-family: 'NYTCheltenhamExtBd';
    src: url('../fonts/NYTCheltenhamExtBd')
}

@font-face {
    font-family: 'NYTCheltenhamExtLt';
    src: url('../fonts/NYTCheltenhamExtLt')
}

@font-face {
    font-family: 'NYTCheltenhamLt';
    src: url('../fonts/NYTCheltenhamLt')
}

@font-face {
    font-family: 'NYTCheltenhamLtCon';
    src: url('../fonts/NYTCheltenhamLtCon')
}

@font-face {
    font-family: 'NYTCheltenhamLtSC';
    src: url('../fonts/NYTCheltenhamLtSC')
}

@font-face {
    font-family: 'NYTCheltenhamMedCon';
    src: url('../fonts/NYTCheltenhamMedCon')
}

@font-face {
    font-family: 'NYTCheltenhamMedium';
    src: url('../fonts/NYTCheltenhamMedium')
}

@font-face {
    font-family: 'NYTCheltenhamWide';
    src: url('../fonts/NYTCheltenhamWide')
}

@font-face {
    font-family: 'NYTFranklinBold';
    src: url('../fonts/NYTFranklinBold')
}

@font-face {
    font-family: 'NYTFranklinExtraBd';
    src: url('../fonts/NYTFranklinExtraBd')
}

@font-face {
    font-family: 'NYTFranklinHeadline';
    src: url('../fonts/NYTFranklinHeadline')
}

@font-face {
    font-family: 'NYTFranklinLight';
    src: url('../fonts/NYTFranklinLight')
}

@font-face {
    font-family: 'NYTFranklinMedium';
    src: url('../fonts/NYTFranklinMedium')
}

@font-face {
    font-family: 'NYTFranklinSemiBold';
    src: url('../fonts/NYTFranklinSemiBold')
}

@font-face {
    font-family: 'NYTImperial';
    src: url('../fonts/NYTImperial')
}

@font-face {
    font-family: 'NYTImperialSemiBold';
    src: url('../fonts/NYTImperialSemiBold')
}

@font-face {
    font-family: 'NYTKarnakDisplay';
    src: url('../fonts/NYTKarnakDisplay')
}

@font-face {
    font-family: 'NYTKarnakText';
    src: url('../fonts/NYTKarnakText')
}

@font-face {
    font-family: 'NYTStymieLight';
    src: url('../fonts/NYTStymieLight')
}

@font-face {
    font-family: 'NYTStymieMedium';
    src: url('../fonts/NYTStymieMedium')
}