<html ng-app="timesTrailer" ng-cloak>

<head>
    <script src="js/vendor/jquery.min.js"></script>
    <script src="adcom/js/bootstrap.js"></script>
    <script src="adcom/js/adcom.js"></script>
    <link rel="stylesheet" type="text/css" href="adcom/dist/css/adcom.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/assets.css">
    <link rel=”shortcut icon” href=”/favicon.ico”>
    <script src="js/vendor/vhs-2.x.min.js"></script>
    <script src="js/vendor/jquery-ui.min.js"></script>
    <script src="js/vendor/underscore-min.js"></script>
    <script src="js/vendor/angular.min.js"></script>
    <script src="js/vendor/whammy.js"></script>
    <script src="js/vendor/fabric.js"></script>
    <script src="js/vendor/ui-bootstrap-tpls-0.13.0.min.js"></script>
    <script src="js/vendor/angular-dragdrop.min.js"></script>
    <script src="js/controllers/ArticleCtrl.js"></script>
    <script src="js/controllers/CanvasCtrl.js"></script>
    <script src="js/services/ConfigService.js"></script>
    <script src="js/services/TimelineService.js"></script>
    <script src='js/services/AssetService.js'></script>
    <script src="js/controllers/EditorCtrl.js"></script>
    <script src="js/controllers/AssetCtrl.js"></script>
    <script src="js/controllers/TimelineCtrl.js"></script>
    <script type="text/ng-template" id="modal.html">
        <div id="modalPage">
            <div id="modalWrapper">
                <img src="./assets/slides/logo.png"><br>
                <button class="close_menu btn btn-sm btn-muted" ng-click="modalInstance.close();">Close</button>
                <h1 class="navbar-left karnak" >Times Trailer</h1>
                <form ng-submit="$parent.getArticle()" id="search" class="navbar-right input-group input-group-lg row-fluid">
                    <input autofocus ng-model="$parent.url" type="text" class="form-control karnak" placeholder="Enter article URL here">
                    <button type="submit" class="input-group-addon btn btn-lg"><span class="glyphicon glyphicon-search"></span></button>
                </form>
                <button class="show_more btn btn-sm btn-primary" ng-click="$parent.recents();">show recent articles</button>
                <div id="recents">
                    <ul class="list-unstyled">
                        <li ng-repeat="item in $parent.recentArticles" ng-click="$parent.url = item.url; $parent.getArticle();">
                            {{item.headline}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </script>
</head>

<nav class="navbar navbar-static-top" ng-controller="ArticleCtrl" ng-init="open()">
    <div class="container-fluid">
        <h1 class="karnak">NYTimes Article Trailer</h1>
        <button type="button" ng-click="open();" class="openModal btn btn-primary">Article Modal</button>
    </div>
</nav>

<body ng-init="initialize()" ng-controller="CanvasCtrl">
    <div class="left">
        <div id="modeWrapper">
            <input class="btn btn-sm btn-primary" ng-click="createSlides()" id="create" value="Queue" type="button">
            <input class="btn btn-sm btn-primary" ng-click="playSlides()" id="play" value="Play" type="button">
            <input class="btn btn-sm btn-primary" ng-click="showCanvas = !showCanvas" id="toggle" value="Toggle" type="button">
            <input type="button" class="btn btn-sm btn-primary" ng-click="playSlides(true)" value="Render">
            <input type="button" class="btn btn-sm btn-primary" ng-click="popUndo()" value="UNDO">
            <input class="btn btn-sm btn-primary" value="Clear" type="button" ng-click="clearCanvas()" />
            <span id="videoMode">{{showCanvas ? 'Editor Mode' : 'Video Player'}}</span>
        </div>
        <div id="mediaWrapper">
            <canvas ng-show="showCanvas" id="canvas" class="media" width="600" height="400"></canvas>
            <div ng-show="!showCanvas">
                <div id="video-container">
                    <div class="media" id="nyt-player"></div>
                </div>
                <a id="download-link" download="example.webm" href="">
                    <input class="btn btn-sm btn-primary" value="download" type="button" />
                </a>
            </div>
        </div>
        <input ng-show="showCanvas" class="btn btn-sm btn-primary addSlide" ng-click="addSlide()" value="Add slide" type="button">
        <div ng-controller="TimelineCtrl as loki">
            <div id="timeline" class="slideup">
                <input class="btn btn-sm btn-primary" ng-click="slide()" value="reveal/hide" type="button">
                <input class="btn btn-sm btn-primary" ng-click="createThumbnail()" value="thumbTest" type="button">
                <div="templates" style="display:none">
                    <img id="starter" src="assets/slides/starter.jpg">
                    <img id="ender" src="assets/slides/ender.jpg">
                </div="templates">
                <div class="slideWrapper">
                    <ul class="row-fluid no-overflow">
                        <li class="slideView" ng-repeat="item in slides" data-drop="true" ng-model='slides' jqyoui-droppable="{index: {{$index}}, onDrop:'loki.dropCallback(item.title, $index)', onStart:logging(item.title)}">
                            <div class="element" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="slides" jqyoui-draggable="{index: {{$index}}}">
                                <div class="element-cutoff">
                                    <img class="ng-binding" src="{{item.thumb}}" ng-click="$parent.restoreSlide($index)">
                                </div>
                                <button type="button" class="remove btn btn-default btn-xs" ng-click="removeSlide($index);">X</button>
                                <select class="form-control duration" ng-model="item.duration" ng-options="option for option in durations" ng-change="log()"></select>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <div ng-controller="AssetCtrl" class="assets">
            <tabset class="assets-tabs container-fluid">
                <tab heading="Metadata">
                    <h3 class="directions" ng-hide="assets.images.length > 0">Please select an <br> article to load.</h3>
                    <div class="assets-scroll">
                        <div class="asset-container metadata" ng-repeat="info in assets.metadata">
                            <div class="asset-key">{{info.name}}</div>
                            <div class="asset-tooltip">{{info.text || 'unavailable'}}</div>
                        </div>
                    </div>
                </tab>
                <tab class="container-flud" heading="Images">
                    <div class="assets-scroll">
                        <div class="row nomargin">
                            <div class=" col-md-4 asset-container" ng-repeat="(index, image) in assets.images" tooltip-append-to-body="true" tooltip-placement="bottom" tooltip="{{image.caption}}">
                                <img class="thumbnail" crossorigin="anonymous" ng-click="$parent.chooseImage('image' + index)" id="image{{index}}" ng-src="{{image.url}}">
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="Quotes">
                    <div class="assets-scroll">
                        <div class="quote-container asset-container" ng-repeat="quote in assets.quotes" ng-click="$parent.chooseText('“' + quote + '”')">
                            <div class="asset-value quote">
                                &#8220;{{quote}}&#8221;
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="Overlay" ng-controller="EditorCtrl">
                    <div class="overlay-preview-backdrop" style="background-color:{{overlay.overlayColor}}; opacity:{{overlay.opacity}}"></div>
                    <div class="overlay-preview">
                        <span>
                            <h3 style="color:{{text.color}}; font-family:{{text.font}}; font-size:{{text.size}};">
                                {{text.content}}
                            </h3>
                        </span>
                    </div>
                    <input class="btn btn-sm btn-primary overlay-draw" value="Draw text" type="button" ng-click="saveConfigs(true);" />
                    <div class="assets-scroll overlay">
                        <form ng-init="initialize()">
                            <div>
                                <fieldset id="text" class="editor">
                                    <legend>Text</legend>
                                    <div class="form-group form-inline">
                                        <label class="control-label overlay-label">Text</label>
                                        <input class="form-control" ng-model="text.content" placeholder="text here" id="text-content" type="text"/>
                                    </div>
                                    <div class="form-group form-inline">
                                        <label class="control-label overlay-label">Size</label>
                                        <input class="form-control" ng-model="text.size" placeholder="font-size" id="font-size" type="number" />
                                    </div>
                                    <div class="form-group form-inline">
                                        <div id="font-button" dropdown dropdown-append-to-body>
                                            <label class="control-label overlay-label">Font</label>
                                            <button class="btn btn-sm btn-muted" dropdown-toggle class="dropdown">Choose Font</button>
                                            <ul role="menu" class="dropdown-menu" id="font-holder">
                                                <li ng-repeat="font in fonts" id="{{font}}" class="font-family" ng-class="{'active': font == text.font}" style="font-family:{{font}}" ng-click="text.font = font">{{font}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control overlay-color" ng-model="text.color" type="color" id="text-color"/>
                                    </div>
                                </fieldset>
                                <fieldset class="editor">
                                    <legend>Overlay<span class="overlay-checkbox">enable/disable</span><input ng-model="overlay.enabled" id="overlay" type="checkbox" /></legend>
                                    <div class="form-group form-inline">
                                        <label class="control-label overlay-label">Auto</label>
                                        <select class="form-control" ng-model="autoPosition" ng-options="option.label for option in autoPositions track by option.value" id="position">
                                        </select>
                                    </div>
                                    <div class="form-group form-inline">
                                        <label class="control-label overlay-label">Opacity</label>
                                        <input class="form-control" ng-model="overlay.opacity" type="number" min="0" max="1" id="overlay-opacity" step=".1">
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <input class="form-control overlay-color" ng-model="overlay.overlayColor" type="color" id="overlay-color">
                                        </div>
                                    </div>
                                    <div id="size" class="form-group form-inline">
                                        <label class="control-label overlay-label">X</label>
                                        <input class="form-control overlay-input" ng-model="manualPosition[0]" type="number" id="manual-x">
                                        <label class="control-label overlay-label">Y</label>
                                        <input class="form-control overlay-input" ng-model="manualPosition[1]" type="number" id="manual-y">
                                        <br>
                                        <label class="control-label overlay-label">Width</label>
                                        <input class="form-control overlay-input" ng-model="manualPosition[2]" id="width" type="text" placeholder="width">
                                        <label class="control-label overlay-label">Height</label>
                                        <input class="form-control overlay-input" ng-model="manualPosition[3]" id="height" type="text" placeholder="height">
                                    </div>
                                </fieldset>
                            </div>
                        </form>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
    <script type="text/javascript" src="js/app.js"></script>
</body>

</html>
