<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.min.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/fabric.js"></script>
    <script type="text/javascript" src="js/editor.js"></script>
    <style>
    #canvas {
        border: 1px solid black;
    }

    #font-holder {
        display: inline-block;
        max-height: 40px;
        overflow-y: scroll;
    }

    .font-family {
        background-color: white;
        padding: 5px;
    }

    .active {
        background-color: red;
    }
    </style>
</head>
<body>
<h1 id="title">Times Trailer</h1>
<div class="left">
    <canvas id="canvas" width="600" height="400" id="canvas"></canvas>
<!-- Edit field selection -->
    <form>
        <fieldset class="editor">
        <legend>Overlay</legend>
            <label for="overlay">Overlay? </label>
            <input id="overlay" type="checkbox" />
            <br>
        Automatic Placement
            <select id="position">
                <option value="">none</option>
                <option value="tb">top banner</option>
                <option value="tli">top left inset</option>
                <option value="tri">top right inset</option>
                <option value="cb">centered banner</option>
                <option value="bli">bottom left inset</option>
                <option value="bri">bottom right inset</option>
                <option value="bb">bottom banner</option>
            </select>
            <input placeholder="opacity" type="text" id="overlay-opacity" />
            <input type="color" id="overlay-color" />
            <div id="size">
                Manual Placement: Top Left Corner X:
                <input type="text" id="manual-x" /> Y:
                <input type="text" id="manual-y" /> SIZE:
                <input id="width" type="text" placeholder="width" /><span>x</span>
                <input id="height" type="text" placeholder="height" />
            </div>
        </fieldset>
        <fieldset id="text" class="editor">
            <legend>Text</legend>
            <input placeholder="text here" id="text-content" type="text" />
            <input type="color" id="text-color" />
            <input placeholder="font-size" id="font-size" type="text" />
            <div id="font-holder">
                <div class="font-family" onclick="selectFont(this)" style="font-family:NYTCheltenhamBdCon" value="NYTCheltenhamBdCon">NYTCheltenhamBdCon</div>
                <div class="font-family" onclick="selectFont(this)" style="font-family:NYTCheltenhamBdXCon" value="NYTCheltenhamBdXCon">NYTCheltenhamBdXCon</div>
                <div class="font-family" onclick="selectFont(this)" style="font-family:NYTCheltenhamBold" value="NYTCheltenhamBold">NYTCheltenhamBold</div>
                <div class="font-family" onclick="selectFont(this)" style="font-family:NYTCheltenhamBook" value="NYTCheltenhamBook">NYTCheltenhamBook</div>
                <div class="font-family" onclick="selectFont(this)" style="font-family:NYTCheltenhamExtBd" value="NYTCheltenhamExtBd">NYTCheltenhamExtBd</div>
                <div class="font-family" onclick="selectFont(this)" style="font-family:NYTCheltenhamExtLt" value="NYTCheltenhamExtLt">NYTCheltenhamExtLt</div>
                <div class="font-family" onclick="selectFont(this)" style="font-family:NYTCheltenhamLt" value="NYTCheltenhamLt">NYTCheltenhamLt</div>
                <div class="font-family" onclick="selectFont(this)" style="font-family:NYTCheltenhamLtCon" value="NYTCheltenhamLtCon">NYTCheltenhamLtCon</div>
                <div class="font-family" onclick="selectFont(this)" style="font-family:NYTCheltenhamLtSC" value="NYTCheltenhamLtSC">NYTCheltenhamLtSC</div>
                <div class="font-family" onclick="selectFont(this)" style="font-family:NYTCheltenhamMedCon" value="NYTCheltenhamMedCon">NYTCheltenhamMedCon</div>
                <div class="font-family" onclick="selectFont(this)" style="font-family:NYTCheltenhamMedium" value="NYTCheltenhamMedium">NYTCheltenhamMedium</div>
                <div class="font-family" onclick="selectFont(this)" style="font-family:NYTCheltenhamWide" value="NYTCheltenhamWide">NYTCheltenhamWide</div>
                <div class="font-family" onclick="selectFont(this)" style="font-family:NYTFranklinBold" value="NYTFranklinBold">NYTFranklinBold</div>
                <div class="font-family" onclick="selectFont(this)" style="font-family:NYTFranklinExtraBd" value="NYTFranklinExtraBd">NYTFranklinExtraBd</div>
                <div class="font-family" onclick="selectFont(this)" style="font-family:NYTFranklinHeadline" value="NYTFranklinHeadline">NYTFranklinHeadline</div>
                <div class="font-family" onclick="selectFont(this)" style="font-family:NYTFranklinLight" value="NYTFranklinLight">NYTFranklinLight</div>
                <div class="font-family" onclick="selectFont(this)" style="font-family:NYTFranklinMedium" value="NYTFranklinMedium">NYTFranklinMedium</div>
                <div class="font-family" onclick="selectFont(this)" style="font-family:NYTFranklinSemiBold" value="NYTFranklinSemiBold">NYTFranklinSemiBold</div>
                <div class="font-family" onclick="selectFont(this)" style="font-family:NYTImperial" value="NYTImperial">NYTImperial</div>
                <div class="font-family" onclick="selectFont(this)" style="font-family:NYTImperialSemiBold" value="NYTImperialSemiBold">NYTImperialSemiBold</div>
                <div class="font-family" onclick="selectFont(this)" style="font-family:NYTKarnakDisplay" value="NYTKarnakDisplay">NYTKarnakDisplay</div>
                <div class="font-family" onclick="selectFont(this)" style="font-family:NYTKarnakText" value="NYTKarnakText">NYTKarnakText</div>
                <div class="font-family" onclick="selectFont(this)" style="font-family:NYTStymieLight" value="NYTStymieLight">NYTStymieLight</div>
                <div class="font-family" onclick="selectFont(this)" style="font-family:NYTStymieMedium" value="NYTStymieMedium">NYTStymieMedium</div>
            </div>
        </fieldset>
        <fieldset>
            <input id="draw" value="draw" type="button" onclick="drawAll()" />
            <input id="clear" value="clear" type="button" onclick="clearCanvas()">
            <input id="save" value="save" type="button" onclick="saveCanvas()">
            <a id="download-link" href="">Download image</a>
        </fieldset>
    </form>
</div>
<!-- Data selection -->
<div ng-app="timesTrailer" ng-controller="importData">
    <div class="wrapper">
        <div class="right content">
            <div id="controls">
                <button ng-click="toggleText()" name="text">Toggle text</button>
                <button ng-click="togglePhotos()" name="photos">Toggle photos</button>
            </div>
            <div ng-show="showText" ng-repeat="(index, element) in elements">
                <div ng-if="element.text">
                    <hr>
                    <h2> SECTION: {{element.name}} </h2>
                    <div class="component">
                        <h2>{{element.text}}</h2>
                    </div>
                </div>
            </div>
            <div ng-show="showPhoto" ng-repeat="(index, image) in images">
                <hr>
                <h2> IMAGE {{index}} </h2>
                <div class="component">
                    <img crossorigin="anonymous" onclick="chooseImage(this.id)" id="image{{index}}" ng-src="{{image.url}}">
                    <h3 id="imageCaption{{index}}">{{image.caption}}</h3>
                    <p id="imageCredit{{index}}"> {{image.credit}}</p>
                </div>
            </div>
            <div ng-show="showPhoto" ng-repeat="(index, image) in slideshow">
                <hr>
                <h2> SLIDESHOW {{index}} </h2>
                <div class="component">
                    <img crossorigin="anonymous" onclick="chooseImage(this.id)" id="slideshow{{index}}" ng-src="{{image.url}}">
                    <h3 id="slideshowCaption{{index}}" ng-bind-html="trustHTML(image.caption)"></h3>
                    <p id="slideshowCredit{{index}}">{{image.credit}}</p>
                </div>
            </div>
        </div>
    </div>
    <div id="timeline">

    </div>
</div>
<script type="text/javascript" src="js/app.js"></script>
</body>
