<!DOCTYPE html>
<html ng-app="timesTrailer">
<head>
	<title>Times Trailer</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body ng-controller="importData">
	<div class="wrapper">
		<h1 id="title">Times Trailer</h1>
		<div class="right content">
			<h1>{{article.headline}}</h1>
			<p>{{article.result.url}}</p>

			<div onclick="choose(this.id)" ng-repeat="(index, image) in images">
				<hr>
				<h2> IMAGE {{index}} </h2>
				<img id="image{{index}}" ng-src="{{image.url}}">
				<h3 id="imageCaption{{index}}">{{image.caption}}</h3>
				<p id="imageCredit{{index}}"> {{image.credit}}</p>
			</div>
			<div ng-repeat="(index, image) in slideshow">
				<hr>
				<h2> SLIDESHOW {{index}} </h2>
				<img  id="slideshow{{index}}" ng-src="{{image.url}}">
				<h3 id="slideshowCaption{{index}}" ng-bind-html="trustHTML(image.caption)"></h3>
				<p id="slideshowCredit{{index}}">{{image.credit}}</p>
			</div>
		</div>
		<div class="left content">

		</div>
	</div>
	<script type="text/javascript" src="js/app.js"></script>
</body>

</html>
