* {
 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

#canvas{
	border: 1px solid black;
}

#controls{
	position:fixed;
	width:50%;
	text-align: center;
}
.wrapper{
	margin:auto;
	text-align:center;
}

.component{
	min-height: 50px;
	padding: 10px ;
	border: 2px black dotted;
	margin:0 10% 0 10%;
}

#loadphotos{
	display:none;
}

#title{
	font-family:'NYTKarnakDisplay';
	font-size:40px;
}

.content{
	border:2px dotted red;
	height:600px;
	overflow:scroll;
}

.right {
	width:50%;
	float:right;
}

.left {
	width:50%;
	float:left;
}

.component img{
	width:100%;
	max-width: 350px;
	height:auto;
}

#content h1{

}

.element{
	background-color: #ffffaa;
	height:400px;
	width:400px;
	margin:auto;
}

@font-face {
	font-family: 'NYTCheltenhamBdCon';
	src: url('./fonts/NYTCheltenhamBdCon')
}
@font-face {
	font-family: 'NYTCheltenhamBdXCon';
	src: url('./fonts/NYTCheltenhamBdXCon')
}
@font-face {
	font-family: 'NYTCheltenhamBold';
	src: url('./fonts/NYTCheltenhamBold')
}
@font-face {
	font-family: 'NYTCheltenhamBook';
	src: url('./fonts/NYTCheltenhamBook')
}
@font-face {
	font-family: 'NYTCheltenhamExtBd';
	src: url('./fonts/NYTCheltenhamExtBd')
}
@font-face {
	font-family: 'NYTCheltenhamExtLt';
	src: url('./fonts/NYTCheltenhamExtLt')
}
@font-face {
	font-family: 'NYTCheltenhamLt';
	src: url('./fonts/NYTCheltenhamLt')
}
@font-face {
	font-family: 'NYTCheltenhamLtCon';
	src: url('./fonts/NYTCheltenhamLtCon')
}
@font-face {
	font-family: 'NYTCheltenhamLtSC';
	src: url('./fonts/NYTCheltenhamLtSC')
}
@font-face {
	font-family: 'NYTCheltenhamMedCon';
	src: url('./fonts/NYTCheltenhamMedCon')
}
@font-face {
	font-family: 'NYTCheltenhamMedium';
	src: url('./fonts/NYTCheltenhamMedium')
}
@font-face {
	font-family: 'NYTCheltenhamWide';
	src: url('./fonts/NYTCheltenhamWide')
}
@font-face {
	font-family: 'NYTFranklinBold';
	src: url('./fonts/NYTFranklinBold')
}
@font-face {
	font-family: 'NYTFranklinExtraBd';
	src: url('./fonts/NYTFranklinExtraBd')
}
@font-face {
	font-family: 'NYTFranklinHeadline';
	src: url('./fonts/NYTFranklinHeadline')
}
@font-face {
	font-family: 'NYTFranklinLight';
	src: url('./fonts/NYTFranklinLight')
}
@font-face {
	font-family: 'NYTFranklinMedium';
	src: url('./fonts/NYTFranklinMedium')
}
@font-face {
	font-family: 'NYTFranklinSemiBold';
	src: url('./fonts/NYTFranklinSemiBold')
}
@font-face {
	font-family: 'NYTImperial';
	src: url('./fonts/NYTImperial')
}
@font-face {
	font-family: 'NYTImperialSemiBold';
	src: url('./fonts/NYTImperialSemiBold')
}
@font-face {
	font-family: 'NYTKarnakDisplay';
	src: url('./fonts/NYTKarnakDisplay')
}
@font-face {
	font-family: 'NYTKarnakText';
	src: url('./fonts/NYTKarnakText')
}
@font-face {
	font-family: 'NYTStymieLight';
	src: url('./fonts/NYTStymieLight')
}
@font-face {
	font-family: 'NYTStymieMedium';
	src: url('./fonts/NYTStymieMedium')
}
